In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [5]:
books  = pd.read_csv('books-data/BX_Books.csv',sep=';',on_bad_lines= 'skip', encoding='latin-1')

In [6]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [7]:
books.shape

(271379, 8)

In [8]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [9]:
# Droping the unnecessary columns

books = books.drop(columns=['Image-URL-S','Image-URL-M', 'Image-URL-L'])

In [10]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
       'Publisher'],
      dtype='object')

In [11]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

In [13]:
books = books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'})

In [14]:
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

In [16]:
users = pd.read_csv('books-data/BX-Users.csv',sep=';',on_bad_lines= 'skip', encoding='latin-1')

In [17]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [21]:
users = users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'})

In [22]:
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [23]:
ratings = pd.read_csv('books-data/BX-Book-Ratings.csv',sep=';',on_bad_lines= 'skip', encoding='latin-1')

In [24]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [27]:
ratings = ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'})

In [28]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [29]:
books.shape

(271379, 5)

In [30]:
users.shape

(278858, 3)

In [31]:
ratings.shape

(1149780, 3)

In [32]:
# The basis idea of this recommender system is if a person has rated a book and other person has aslo rated a book it means
# they are somehow similar. Then we recommend the books to each of them on the basis of other means if one has read a book 
# and the other is not then the book is recommended to that person

In [34]:
# We are creating a matrix on the which cols are users and indexes are books and values are ratings

In [33]:
# we are applying a constraint on the users (we are taking only that user who have rated about 200 books) and on the 
# books (taking only those books whose minmum rating is 50)

In [37]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [44]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [47]:
x = ratings['user_id'].value_counts()>200

In [50]:
y = x[x].index                        # this will return us the users where the condition is true

In [59]:
y    # the 899 users who have rated more then 200 books

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [56]:
ratings = ratings[ratings['user_id'].isin(y)]

In [60]:
ratings.shape    # These are the number of books rated by 899 users

(526356, 3)

In [61]:
# Joining the rating and books DataFrame

In [62]:
books_with_ratings = ratings.merge(books,on='ISBN')

In [64]:
books_with_ratings.shape    # The number is less because there will be some books whose data in not in books DF

(487685, 7)

In [66]:
books_with_ratings.head(2)

,user_id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc

In [65]:
# Finding the books whose rating count is more then 50

In [71]:
number_rating = books_with_ratings.groupby('title')['rating'].count().reset_index().rename(columns = {'rating':'no_of_ratings'})

In [72]:
number_rating

                                                    title  no_of_ratings
0        A Light in the Storm: The Civil War Diary of ...              2
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Beyond IBM: Leadership Marketing and Finance ...              1
4        Clifford Visita El Hospital (Clifford El Gran...              1
...                                                   ...            ...
160275  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...              3
160276                                      Ã?Â?lpiraten.              1
160277                     Ã?Â?rger mit Produkt X. Roman.              1
160278                              Ã?Â?stlich der Berge.              1
160279                                  Ã?Â?thique en toc              1

[160280 rows x 2 columns]

In [73]:
final_rating = books_with_ratings.merge(number_rating,on='title')

In [76]:
final_rating.head(2)

,user_id,ISBN,rating,title,author,year,publisher,no_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82

In [75]:
final_rating.shape

(487685, 8)

In [80]:
# Applying the condition for the books

In [81]:
final_df = final_rating[final_rating['no_of_ratings']>=50]

In [82]:
final_df.shape

(61853, 8)

In [83]:
# Dropping the duplicate rows where the user and the book is same means the user has rated the book multiple times

In [84]:
final_df.drop_duplicates(['user_id','title'],inplace = True)

In [85]:
final_df.shape

(59850, 8)

In [86]:
final_df.head(2)

,user_id,ISBN,rating,title,author,year,publisher,no_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82

In [88]:
book_pivot = final_df.pivot_table(columns='user_id',index='title',values='rating')

In [89]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
book_pivot.shape

(742, 888)

In [91]:
book_pivot.fillna(0,inplace=True)

In [92]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
# using only those values where the values are non-zeros.

In [94]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

In [95]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [96]:
from sklearn.neighbors import NearestNeighbors

neighbor = NearestNeighbors(algorithm='brute')

In [98]:
neighbor.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [99]:
distances, suggestions = neighbor.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [100]:
distances

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [101]:
suggestions

array([[237, 240, 238, 241, 184, 536]], dtype=int64)

In [103]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [104]:
book_pivot.index[240]

'Harry Potter and the Prisoner of Azkaban (Book 3)'

In [107]:
# Testing for the index 240

In [105]:
distances, suggestions = neighbor.kneighbors(book_pivot.iloc[240,:].values.reshape(1,-1),n_neighbors=6)

In [106]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Sorcerer's Stone (Book 1)',
       'Harry Potter and the Order of the Phoenix (Book 5)', 'Exclusive'],
      dtype='object', name='title')

In [114]:
np.where(book_pivot.index == 'Harry Potter and the Prisoner of Azkaban (Book 3)')[0][0]

240

In [108]:
# Creating the function in which if we provide the book name it will suggest us 5 books

In [141]:
def recommend_books(name):
    books = []
    name_index = np.where(book_pivot.index == name)[0][0]
    distances, suggestions = neighbor.kneighbors(book_pivot.iloc[name_index,:].values.reshape(1,-1),n_neighbors=6)  
    for i in range(len(suggestions)):
        books.append(book_pivot.index[suggestions[i]])
    
        
    return list(books[0][1:])

In [142]:
recommend = recommend_books('Harry Potter and the Prisoner of Azkaban (Book 3)')

In [143]:
recommend

['Harry Potter and the Goblet of Fire (Book 4)',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 "Harry Potter and the Sorcerer's Stone (Book 1)",
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'Exclusive']

In [144]:
recommend_books('Animal Farm')

['Exclusive',
 'Jacob Have I Loved',
 'Second Nature',
 'Pleading Guilty',
 'No Safe Place']

In [145]:
books_2 = pd.read_csv('books-data/BX_Books.csv',sep=';',on_bad_lines= 'skip', encoding='latin-1')

In [147]:
books_2['Image-URL-L'][0]

'http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg'

In [157]:
books_2[books_2['Book-Title'] == 'Harry Potter and the Goblet of Fire (Book 4)']['Image-URL-L'].iloc[0]

'http://images.amazon.com/images/P/0439139597.01.LZZZZZZZ.jpg'

In [158]:
import requests
from PIL import Image
from io import BytesIO

# Replace with the first image URL from your DataFrame
image_url = 'http://images.amazon.com/images/P/0439139597.01.LZZZZZZZ.jpg'

# Fetch the image from the URL
response = requests.get(image_url)

# Check if the request was successful
if response.status_code == 200:
    # Open the image
    image = Image.open(BytesIO(response.content))
    
    # Display the image
    image.show()
else:
    print(f"Failed to retrieve image. Status code: {response.status_code}")

Failed to retrieve image. Status code: 403

In [159]:
def get_image(name):
    images_link = []
    books_name = recommend_books(name)
    for i in range(len(books_name)):
        images_link.append(books_2[books_2['Book-Title'] == books_name[i]]['Image-URL-L'].iloc[0])
        
    return images_link

In [160]:
get_image('Animal Farm')

['http://images.amazon.com/images/P/0446604232.01.LZZZZZZZ.jpg',
 'http://images.amazon.com/images/P/0380564998.01.LZZZZZZZ.jpg',
 'http://images.amazon.com/images/P/0399139087.01.LZZZZZZZ.jpg',
 'http://images.amazon.com/images/P/0446365505.01.LZZZZZZZ.jpg',
 'http://images.amazon.com/images/P/0345404777.01.LZZZZZZZ.jpg']

In [161]:
import pickle

In [162]:
with open('book_pivot.pkl', 'wb') as f:  
    pickle.dump(book_pivot, f)

In [163]:
with open('model.pkl', 'wb') as f:  
    pickle.dump(neighbor, f)

In [164]:
with open('book_data.pkl', 'wb') as f:  
    pickle.dump(books_2, f)